<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'plans', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3 class="top">GET THIS BREAD FITNESS</h3>
    <div>

    <div class="plan">
        <h1><%= @plan.name %></h1>
        <%= image_tag(@plan.image, size: "256") %><br>
        <div class="info">
            <h5>Recommended: <%= @plan.commitment %></h5>
            <h5>Difficulty: <%= @plan.difficulty %></h5> 
        </div>
       
        <h3> Choose this plan if </h3>
        <p><%= @plan.description %></p><br>
         
        <div class= "exercise_list">
           <h3> List of Exercises </h3>
            <ul>
            <% @plan.plan_exercises.each do |plan_exercise| %>
              <li><%= link_to plan_exercise.exercise_name, exercise_path(plan_exercise.exercise) %>---     <%=  plan_exercise.sets %></l1>
            <% end %>
            </ul>
        </div>

    <br><br>
    <%= form_for @user_plan do |f| %> 
        <%= f.hidden_field :plan_id, value: @plan.id %>
        <%= f.hidden_field :user_id, value: current_user %>


        <%= f.submit "Add to My Plans" %>

    <% end %>
    </div>
    

    <% if @plan.errors.any? %>
        <ul>
        <% @plan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    <% end %>


    <% # Validation Error for duplicate plans %>
    <% if current_user && @user_plan.errors.any? %>
        <ul>
        <% @user_plan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    <% end %>


  </body>
</html>