<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
        <h3 class="top">GET THIS BREAD FITNESS</h3>

        <div class="categories">
            <a class="muscle" href='/category/chest'>Chest<a>
            <a class="muscle" href='/category/arms'>Arms<a>
            <a class="muscle" href='/category/shoulders'>Shoulders<a>
            <a class="muscle" href='/category/back'>Back<a>
            <a class="muscle" href='/category/legs'>Legs<a>
            <a class="muscle" href='/category/abs'>Abs<a>
            <a class="muscle" href='/category/cardio'>Cardio<a>
        </div>

        
       <%# added div %>
       <div class="exercise_index">
        <h1>All Exercises</h1>
        <ul>
              <% @exercises.each do |exercise| %>
                  <li><%= link_to exercise.name, exercise_path(exercise)%></li>
              <% end %>
        </ul>
       </div>
    </body>
</html>
