<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
        <h3 class="top">GET THIS BREAD FITNESS</h3>
        <div class="categories">
          <%= link_to "Chest", '/category/chest' %>
          <%= link_to "Arms", '/category/arms' %>
          <%= link_to "Shoulders", '/category/shoulders' %>
          <%= link_to "Back", '/category/back' %>
          <%= link_to "Legs", '/category/legs' %>
          <%= link_to "Abs", '/category/abs' %>
          <%= link_to "Cardio", '/category/cardio' %>
        </div>
        <h1>All Exercises</h1>
       <%# added div %>
       <div class="exercise_index">
       <ul>
            <% @exercises.each do |exercise| %>
                <li><%= link_to exercise.name, exercise_path(exercise)%></li>
            <% end %>
       </ul>
       </div>
    </body>
</html>
