<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3 class="top">GET THIS BREAD FITNESS</h3>
    <h1><%= @exercise.name %><h1>
    <h3>Category: <%= @exercise.category %></h3>
    <h3>Equipment Needed: <%= @exercise.equipment %></h3>
    <h4>Description </h4>
    <p><%= @exercise.description %></p>
    <% if @exercise.image %>
        <%= image_tag(@exercise.image, size: "512") %>
    <% end %>

  </body>
</html>



