<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3 class="top">GET THIS BREAD FITNESS</h3>
        <%# added a category menu for consistant nav %>
        <div class="categories">
          <%= link_to "Chest", '/category/chest' %>
          <%= link_to "Arms", '/category/arms' %>
          <%= link_to "Shoulders", '/category/shoulders' %>
          <%= link_to "Back", '/category/back' %>
          <%= link_to "Legs", '/category/legs' %>
          <%= link_to "Abs", '/category/abs' %>
          <%= link_to "Cardio", '/category/cardio' %>
        </div>
    <div class="border-plan">
      <h1><%= @exercise.name %><h1>

      <h3>Category: <%= @exercise.category %></h3>
      <h3>Equipment Needed: <%= @exercise.equipment %></h3>
      <h4>Description </h4>
      <p><%= @exercise.description %></p>
      <% if @exercise.image %>
          <%= image_tag(@exercise.image, size: "512") %>
      
      <% end %>
    </div>

  </body>
</html>



