<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar  navbar-inverse">
      
    <div class="navbar-class">
      <div class="container">


      <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav">
          <li class="nav_links">
            <% if current_user %>
              <%=link_to "My Plans", user_path(current_user)%>
            <% else %>
              <a href="/">Home</a>
            <% end %>
            <%=link_to "Exercises", exercises_path%>
            <%=link_to "Plans", plans_path%>
          </li>
        </ul>
      </div>
    </div>
    <% if current_user %>
      <%= button_to "Log Out", signout_path, method: :delete %>
    <% end %>
  </header>
    
    <%= yield %>


  </body>
</html>
